.print-summary-body {
    display: none;
}

@media print {
    .print-summary-body {
        display: block;
    }
    .print-link{
        display: none;
    }
    .govuk-footer{
        display: none;
    }
    .feedback-survey{
        display: none;
    }
}
