// This is a GOV.UK Publishing specific component that
// can be seen at https://components.publishing.service.gov.uk/component-guide/related_navigation

.app-related-items {
    border-top: 10px solid govuk-colour("blue");
    padding-top: govuk-spacing(2);
  }
  
  .app-related-items .govuk-list > li {
    margin-bottom: govuk-spacing(2);
  }
  