{% extends 'layout.njk' %}

{% from 'govuk/components/back-link/macro.njk'      import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk'  import govukErrorSummary %}
{% from 'govuk/components/input/macro.njk'          import govukInput %}
{% from 'govuk/components/button/macro.njk'         import govukButton %}
{% from 'govuk/components/radios/macro.njk'         import govukRadios %}

{% block pageTitle %}
  Appeal due to ill health: Is the person still ill?
{% endblock %}

{% block backLink %}
  {{
    govukBackLink({
      text: 'Back',
      href: navigation.back.href
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">

        {{
          govukErrorSummary ({
            titleText: 'There is a problem with the details you gave us',
            errorList: validationResult.errors
          }) if validationResult and validationResult.errors.length > 0
        }}

        {{
          govukInput({
            type: 'hidden',
            name: 'illnessStart',
            value: illnessStart
          })
        }}
        {{ 
          govukRadios({
            classes: 'govuk-radios--inline',
            idPrefix: 'continued-illness',
            name: 'continuedIllness',
            fieldset: {
              describedBy: 'continued-illness-hint',
              legend: {
                text: 'Is the person still ill?',
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--xl'
              }
            },
            hint: {
              text: 'You told us the illness started on ' + illnessStart | date
            },
            errorMessage: validationResult.getErrorForField('continuedIllness') if validationResult,
            items: [
              {
                value: 'yes',
                text: 'Yes'
              },
              {
                value: 'no',
                text: 'No'
              }
            ]
          })
        }}

        {{ 
          govukButton({
            text: 'Continue',
            attributes: {
              id: 'submit'
            }
          }) 
        }}
      </form>
    </div>
  </div>
{% endblock %}