{% extends 'layout.njk' %}

{% from 'govuk/components/back-link/macro.njk'      import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk'  import govukErrorSummary %}
{% from 'govuk/components/input/macro.njk'          import govukInput %}
{% from 'govuk/components/button/macro.njk'         import govukButton %}
{% from 'govuk/components/radios/macro.njk'         import govukRadios %}

{% block pageTitle %}
  Appeal due to ill health: Who was ill?
{% endblock %}

{% block backLink %}
  {{
    govukBackLink({
      text: 'Back',
      href: navigation.back.href
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukErrorSummary ({
          titleText: 'There is a problem',
          errorList: validationResult.errors
        }) if validationResult and validationResult.errors.length > 0
      }}

      <form method="post">
        {% set otherPersonHtml %}
          {{
            govukInput({
              id: 'other-person',
              name: 'otherPerson',
              type: 'text',
              value: otherPerson,
              classes: 'govuk-!-width-one-third',
              label: {
                text: 'Their relationship to the company'
              },
              errorMessage: validationResult.getErrorForField('otherPerson') if validationResult
            })
          }}
        {% endset -%}

        {{
          govukRadios({
            idPrefix: 'ill-person',
            name: 'illPerson',
            fieldset: {
              legend: {
                classes: 'govuk-fieldset__legend--xl',
                html: "<h1 id='page-title-heading' class='govuk-fieldset__heading'>Who was ill?</h1>"
              }
            },
            errorMessage: validationResult.getErrorForField('illPerson') if validationResult,
            items: [
              {
                value: 'director',
                text: 'A company director',
                checked: true if illPerson === 'director',
                attributes: {
                  'data-event-id': 'director-selected'
                }
              },
              {
                value: 'accountant',
                text: 'A company accountant or agent',
                checked: true if illPerson === 'accountant',
                attributes: {
                  'data-event-id': 'accountant-selected'
                }
              },
              {
                value: 'family',
                text: 'A family member of a director',
                checked: true if illPerson === 'family',
                attributes: {
                  'data-event-id': 'family member selected'
                }
              },
              {
                value: 'employee',
                text: 'A company employee',
                checked: true if illPerson === 'employee',
                attributes: {
                  'data-event-id': 'employee selected'
                }
              },
              {
                value: 'someoneElse',
                text: 'Someone else',
                checked: true if illPerson === 'someoneElse',
                conditional: {
                  html: otherPersonHtml,
                  attributes: {
                    'data-event-id': 'input in option box'
                  }
                },
                attributes: {
                  'data-event-id': 'Someone else selected'
                }
              }
            ]
          })
        }}

        {{
          govukButton({
            text: 'Continue',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
