{% extends 'layout.njk' %}

{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from 'govuk/components/date-input/macro.njk' import govukDateInput %}

{% block pageTitle %}
   Appeal due to ill health: Tell us when the illness ended
{% endblock %}

{% block backLink %}
  {{
    govukBackLink({
      text: 'Back',
      href: navigation.back.href
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">

        {{
          govukErrorSummary ({
            titleText: 'There is a problem',
            errorList: validationResult.errors
          }) if validationResult and validationResult.errors.length > 0
        }}

        {% set classes_day = 'govuk-input--width-2' %}
        {% set classes_month = 'govuk-input--width-2' %}
        {% set classes_year = 'govuk-input--width-4' %}
        {% set illnessEndErrorMessage = false %}

        {% if validationResult and validationResult.errors.length > 0 %}

          {% if validationResult.getErrorForField('day') %}
            {% set classes_day = classes_day + ' govuk-input--error' %}
          {% endif %}
          {% if validationResult.getErrorForField('month') %}
            {% set classes_month = classes_month + ' govuk-input--error' %}
          {% endif %}
           {% if validationResult.getErrorForField('year') %}
            {% set classes_year = classes_year + ' govuk-input--error' %}
          {% endif %}
          {% if validationResult.getErrorForField('date') %}
            {% set classes_day = classes_day + ' govuk-input--error' %}
            {% set classes_month = classes_month + ' govuk-input--error' %}
            {% set classes_year = classes_year + ' govuk-input--error' %}
          {% endif %}

          {% set errorMessages %}
            <ul style="padding: 0;list-style-type: none;">
              {% for error in validationResult.errors %}
                <li>
                  {{ error.text }}
                </li>
              {% endfor %}
            </ul>
          {% endset %}

          {% set illnessEndErrorMessage = {
            html: errorMessages
            }
          %}
        {% endif %}

        {{
          govukDateInput ({
            id: 'illness-end',
            fieldset: {
              legend: {
                text: 'When did the illness end?',
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--xl'
              }
            },
            hint: {
              text: illnessStartedOnDate
            },
            errorMessage: illnessEndErrorMessage,
            items: [
              {
                classes: classes_day,
                id: 'end-day',
                label: 'Day',
                name: 'day',
                value: day,
                autocomplete: 'off'
              },
              {
                classes: classes_month,
                id: 'end-month',
                label: 'Month',
                name: 'month',
                value: month,
                autocomplete: 'off'
              },
              {
                classes: classes_year,
                id: 'end-year',
                label: 'Year',
                name: 'year',
                value: year,
                autocomplete: 'off'
              }
            ]
          })
        }}

        {{
          govukButton ({
            text: 'Continue',
            attributes: {
              id: 'submit',
              'data-event-id': 'clicked continue'
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
