{% extends "layout.njk" %}

{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from 'govuk/components/summary-list/macro.njk' import govukSummaryList %}
{% from 'govuk/components/button/macro.njk' import govukButton %}

{% block pageTitle %}
    Check your answers before submitting your appeal
{% endblock %}

{% block backLink %}
  {{
    govukBackLink({
      text: 'Back',
      href: navigation.back.href
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Check your appeal
      </h1>

      <h2 class="govuk-heading-m">Penalty details</h2>
      {{
        govukSummaryList({
          rows: [
            {
              key: { text: 'Company Name' },
              value: { text: appealPenaltyDetails.companyName }
            },
            {
              key: { text: 'Company Number' },
              value: { text: appealPenaltyDetails.companyNumber }
            },
            {
              key: { text: 'Type' },
              value: { text: 'Late Filing Penalty (' + appealPenaltyDetails.penaltyReference + ')' }
            },
            {
              key: { text: 'Contact email' },
              value: { text: userProfile.email }
            }
          ]
        })
      }}

      <h2 class="govuk-heading-l">Reason for appeal</h2>

      {% set attachmentsList %}
        {% if appealReasonDetails.attachments and appealReasonDetails.attachments.length > 0 %}
          <ul class="govuk-list govuk-list--bullet">
            {% for attachment in appealReasonDetails.attachments | reverse %}
              <li>
                <a href="{{ paths.DOWNLOAD_FILE_PAGE_URI }}/data/{{ attachment.id }}/download?c={{ appealPenaltyDetails.companyNumber }}"
                   class="govuk-link">{{ attachment.name }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          None
        {% endif %}
      {% endset %}
      {% if appealReasonDetails.title %}
        <h2 class="govuk-heading-m">Other</h2>
        {{
          govukSummaryList({
            rows: [
              {
                key: { text: 'Reason' },
                value: { text: appealReasonDetails.title },
                actions: { items: [ ui.createChangeLinkConfig(paths.OTHER_REASON_PAGE_URI, 'reason') ] }
              },
              {
                key: { text: 'Your Name' },
                value: { text: appealName },
                actions: { items: [ ui.createChangeLinkConfig(paths.OTHER_REASON_PAGE_URI, 'your name') ] }
              },
              {
                key: { text: 'Further information' },
                value: { text: appealReasonDetails.description },
                actions: { items: [ ui.createChangeLinkConfig(paths.OTHER_REASON_PAGE_URI, 'further information') ] }
              },
              {
                key: { text: 'Supporting documents' },
                value: { html: attachmentsList },
                actions: { items: [ ui.createChangeLinkConfig(paths.EVIDENCE_UPLOAD_PAGE_URI, 'supporting documents') ] }
              }
            ]
          })
        }}
      {% else %}
        <h2 class="govuk-heading-m">Illness</h2>
        {{
          govukSummaryList({
            rows: [
              {
                key: { text: 'Who was ill?' },
                value: { text: illPersonName },
                actions: { items: [ ui.createChangeLinkConfig(paths.ILL_PERSON_PAGE_URI, 'who was ill') ] }
              },
              {
                key: { text: 'Illness start date' },
                value: { text: illnessStartDate },
                actions: { items: [ ui.createChangeLinkConfig(paths.ILLNESS_START_DATE_PAGE_URI, 'illness start date') ] }
              },
              {
                key: { text: 'Your Name' },
                value: { text: appealName },
                actions: { items: [ ui.createChangeLinkConfig(paths.FURTHER_INFORMATION_PAGE_URI, 'your name') ] }
              },
              {
                key: { text: 'Further information' },
                value: { text: appealReasonDetails.illnessImpactFurtherInformation },
                actions: { items: [ ui.createChangeLinkConfig(paths.FURTHER_INFORMATION_PAGE_URI, 'further information') ] }
              },
              {
                key: { text: 'Supporting documents' },
                value: { html: attachmentsList },
                actions: { items: [ ui.createChangeLinkConfig(paths.EVIDENCE_UPLOAD_PAGE_URI, 'supporting documents') ] }
              }
            ]
          })
        }}
      {% endif %}
      
      <h2 class="govuk-heading-m">Submit your appeal</h2>
      <p>
        By submitting this appeal you are confirming that, to the best of your knowledge, the details you are
        providing are true.
      </p>
      <form method="post">
        {{
          govukButton({
            text: 'Confirm and submit appeal',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
