{% extends "layout.njk" %}

{% from 'govuk/components/summary-list/macro.njk' import govukSummaryList %}
{% from 'govuk/components/button/macro.njk' import govukButton %}

{% block pageTitle %}
    Check your answers before submitting your appeal
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Check your appeal
      </h1>

      <h2 class="govuk-heading-m">Penalty details</h2>
      {{
        govukSummaryList({
          rows: [
            {
              key: {
                text: 'Company Number'
              },
              value: {
                text: penaltyIdentifier.companyNumber
              }
            },
            {
              key: {
                text: 'Type'
              },
              value: {
                text: 'Late Filing Penalty (' + penaltyIdentifier.penaltyReference + ')'
              }
            },
            {
              key: {
                text: 'Contact email'
              },
              value: {
                text: userProfile.email
              }
            }
          ]
        })
      }}

      <h2 class="govuk-heading-l">Reason for appeal</h2>
      {{
        govukSummaryList({
          rows: [
            {
              key: {
                text: 'Reason'
              },
                value: {
                text: reasons.other.title
              }
            },
            {
              key: {
                text: 'Further information'
              },
              value: {
                text: reasons.other.description
              }
            }
          ]
        })
      }}

      <h2 class="govuk-heading-m">Submit your appeal</h2>
      <p>
        By submitting this appeal you are confirming that, to the best of your knowledge, the details you are
        providing are true.
      </p>
      <form method="post">
        {{
          govukButton({
            text: 'Confirm and submit appeal',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
