{% extends 'layout.njk' %}

{% from 'govuk/components/back-link/macro.njk'      import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk'  import govukErrorSummary %}
{% from 'govuk/components/button/macro.njk'         import govukButton %}
{% from 'govuk/components/radios/macro.njk'         import govukRadios %}

{% block pageTitle %}
  You must tell us the reason for the appeal
{% endblock %}

{% block backLink %}
  {{ 
    govukBackLink({
      text: 'Back',
      href: navigation.back.href
    }) 
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukErrorSummary ({
          titleText: 'There is a problem',
          errorList: validationResult.errors
        }) if validationResult and validationResult.errors.length > 0
      }}

      <form method="post" id="choose-reasons-form">
        {{ 
          govukRadios({
            idPrefix: 'choose-reason',
            name: 'reason',
            fieldset: {
              describedBy: 'choose-reason-hint',
              legend: {
                text: 'Why are you appealing this penalty?',
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--xl'
              }
            },
            hint: {
              text: 'You can add more reasons later'
            },
            errorMessage: validationResult.getErrorForField('reason') if validationResult,
            items: [
              { value: 'illness', text: 'Illness and health issues' },
              { value: 'other', text: 'I’m appealing for another reason' }
            ]
          })
        }}

        {{ 
          govukButton({
            text: 'Continue',
            attributes: {
              id: 'submit'
            }
          }) 
        }}
      </form>
    </div>
  </div>
{% endblock %}