{% extends 'layout.njk' %}

{% from 'govuk/components/panel/macro.njk' import govukPanel %}
{% from 'govuk/components/summary-list/macro.njk' import govukSummaryList %}

{% block beforeContent %}{% endblock %}

{% block bodyStart %}
  <noscript>
    <style>
      #print-link {display:none;}
    </style>
  </noscript>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel
        ({
          titleText: 'Appeal submitted',
          html: 'Your reference number is your company number <br><strong>' + penaltyIdentifier.companyNumber + '</strong>'
        })
      }}
      <p class="govuk-body-l">
        We’ve sent a confirmation email to
        <span class="govuk-body-l govuk-!-font-weight-bold">{{ userProfile.email }}</span>
        which contains the information you’ve provided for this appeal.
      </p>
      <p class="govuk-!-display-none-print" id="print-link">
        <a href="javascript:if(window.print)window.print()" class="govuk-link">Print a copy of this appeal</a>
      </p>
      <div class="govuk-!-display-none-screen">
        <h2 class="govuk-heading-l">Penalty Details</h2>

        {{
          govukSummaryList({
            rows: [
              {
                key: { text: 'Company Name' },
                value: { text: penaltyIdentifier.companyName }
              }
            ]
          })
        }}

        <h2 class="govuk-heading-l">Reason for appeal</h2>

        {% set attachmentsList %}
          {% if reasons.other.attachments and reasons.other.attachments.length > 0 %}
            <ul class="govuk-list govuk-list--bullet">
              {% for attachment in reasons.other.attachments | reverse %}
                <li>
                  {{ attachment.name }}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            None
          {% endif %}
        {% endset %}

        {{
          govukSummaryList({
            rows: [
              {
                key: { text: 'Reason' },
                value: { text: reasons.other.title }
              },
              {
                key: { text: 'Further information' },
                value: { text: reasons.other.description }
              },
              {
                key: { text: 'Supporting documents' },
                value: { html: attachmentsList }
              }
            ]
          })
        }}
      </div>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">We'll review the appeal and email you with a decision within 30 working days.
        We'll pause recovery action during this time.</p>
      <p class="govuk-body">We may contact you during the review process if we need more information.</p>
      <p>If your appeal is unsuccessful, you should
        <a href="https://beta.companieshouse.gov.uk/late-filing-penalty">
          pay the company's late filing penalty</a>.</p>
      <p class="govuk-!-display-none-print">
        <a href="https://www.research.net/r/alfp-confirmation" target="_blank">What did you think of this service?</a>
        (takes 30 seconds)
      </p>
    </div>
  </div>
{% endblock %}
