{% extends "layout.njk" %}

{% from 'govuk/components/details/macro.njk' import govukDetails %}

{% block pageTitle %}
  Sorry, there is a problem with the service - GOV.UK
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Sorry, there is a problem with the service
      </h1>
      <p class="govuk-body">Try again later.</p>
      <p class="govuk-body">We have not saved your answers. When the service is available, you will have to start again.</p>
      <p class="govuk-body"><a href="https://www.gov.uk/contact-companies-house">Contact Companies House </a> if you need to speak to 
      someone about appealing a late filing penalty.</p>
      
      <div class="govuk-form-group">
        {% set otherWaysToAppeal %}
          <p>You can send an appeal to us by email or by post. It should include a full explanation of why you were unable to file on time.</p>
          <h2 class="govuk-heading-m">By email</h2>
          <p class="govuk-body"><a href="mailto:enquiries@companieshouse.gov.uk">enquiries@companieshouse.gov.uk</a></p>
          <h2 class="govuk-heading-m">By post</h2>
          <h3 class="govuk-heading-s">England and Wales</h3>
          <p class="govuk-body">
            Companies House<br/>
            PO Box 710<br/>
            Crown Way<br/>
            CF14 3UZ
          </p>
          <h3 class="govuk-heading-s">Scotland</h3>
          <p class="govuk-body">
            Companies House<br/>
            Fourth Floor<br/>
            Edinburgh Quay 2<br/>
            139 Fountainbridge<br/>
            Edinburgh<br/>
            EH3 9FF
          </p>
          <h3 class="govuk-heading-s">Northern Ireland</h3>
          <p class="govuk-body">
            Companies House<br/>
            2nd Floor<br/>
            The Linenhall<br/>
            32-38 Linenhall Street<br/>
            Belfast<br/>
            BT2 8BG<br/>
          </p>
        {% endset -%}

        {{
          govukDetails({
            summaryText: 'Other ways to appeal a late filing penalty',
            html: otherWaysToAppeal
          })
        }}

      </div>
    </div>
  </div>
{% endblock %}
