{% extends "layout.njk" %}

{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/input/macro.njk' import govukInput %}
{% from 'govuk/components/radios/macro.njk' import govukRadios %}
{% from 'govuk/components/button/macro.njk' import govukButton %}

{% block pageTitle %}
  Remove document
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukErrorSummary ({
          titleText: 'There is an error on the page',
          errorList: validationResult.errors
        }) if validationResult and validationResult.errors.length > 0
      }}
      <form method="post" action="?f={{ id }}">
        {{
          govukInput({
            type: 'hidden',
            name: 'id',
            value: id
          })
        }}
        {{
          govukInput({
            type: 'hidden',
            name: 'name',
            value: name
          })
        }}

        {{
          govukRadios({
            classes: 'govuk-radios--inline',
            name: 'remove',
            fieldset: {
              legend: {
                text: 'Are you sure you want to remove ' + name + '?',
                classes: 'govuk-fieldset__legend--xl'
              }
            },
            items: [
              {
                id: 'remove-yes',
                value: 'yes',
                text: 'Yes'
              },
              {
                id: 'remove-no',
                value: 'no',
                text: 'No'
              }
            ],
            errorMessage: validationResult.getErrorForField('remove') if validationResult
          })
        }}

        {{
          govukButton({
            text: 'Continue',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
