{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="css/application.css" rel="stylesheet"/>
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
  <link href="{{CDN_URL}}/stylesheets/extensions/application-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
  <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
          crossorigin="anonymous"></script>

  {% block download %}{% endblock %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/appeals",
    serviceName: "Penalty Appeals",
    serviceUrl: "/appeals",
    containerClasses: "govuk-width-container"})
  }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    }
  }) 
  }}
  {% block backLink %}{% endblock %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "http://resources.companieshouse.gov.uk/legal/termsAndConditions.shtml",
          text: "Policies"
        },
        {
          href: "/help/cookies",
          text: "Cookies"
        },
        {
          href: "/help/contact-us",
          text: "Contact us"
        },
        {
          href: "https://developer.companieshouse.gov.uk/",
          text: "Developers"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="govuk/all.js"></script>
  <script>
    window
      .GOVUKFrontend
      .initAll()
  </script>
{% endblock %}