{% extends "layout.njk" %}
{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk"   import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"      import govukButton %}

{% block pageTitle %}
  {% if serviceName %}
    {{ serviceName }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% block backLink %}{% endblock %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/business">Business and self-employed</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/business/limited-company">Running a limited company</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Appeal a late filing penalty</h1>
      <p class="govuk-body-l">Use this service to appeal a penalty issued to a company for not filing its annual accounts on time.</p>
      <p>It may take up to 30 minutes to complete this application.</p>
      {{ govukButton({
        text: "Start now",
        href: "/",
        isStartButton: true
      }) }}
      <h2 class="govuk-heading-m">Before you start</h2>
      <p>
        <a href="https://www.gov.uk/government/publications/late-filing-penalties/late-filing-penalties#appealing" target="_blank">Read the guidance on appealing a penalty.</a>
      </p>
      <h3 class="govuk-heading-s">You'll need:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>the company number</li>
        <li>the company authentication code for online filing</li>
        <li>the penalty reference</li>
        <li>The reason for the appeal</li>
        <li>documents that support the reason for the appeal (optional)</li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a href="https://www.gov.uk/file-an-annual-return-with-companies-house">
                File your confirmation statement (annual return) with Companies House
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/running-a-limited-company">
                Running a limited company
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/browse/business/limited-company" class="govuk-!-w-bold">
                More
                <span class="visuallyhidden">Running a limited company</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}