{% extends 'layout.njk' %}

{% from 'govuk/components/breadcrumbs/macro.njk' import govukBreadcrumbs %}
{% from 'govuk/components/button/macro.njk'      import govukButton %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
      items: [
        { href: 'https://www.gov.uk/', text: 'Home' },
        { href: 'https://www.gov.uk/browse/business', text: 'Business and self-employed' },
        { href: 'https://www.gov.uk/browse/business/limited-company', text: 'Running a limited company' }
      ]
    })
  }}
{% endblock %}

{% block content%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
      <p class="govuk-body-l">Use this service to appeal a penalty issued to a company for not filing its annual accounts on time.</p>
      <p>It may take up to 30 minutes to complete this application.</p>
      <form method="post">
        {{
          govukButton({
            text: 'Start now',
            isStartButton: true,
            attributes: {
              id: 'start-now',
              onclick: '_paq.push(["trackGoal", 1]);' if piwik
            }
          })
        }}
      </form>
      <h2 class="govuk-heading-m">Before you start</h2>
      <p>
        <a class="govuk-link" href="https://www.gov.uk/government/publications/late-filing-penalties/late-filing-penalties#appealing" target="_blank">Read the guidance on appealing a penalty.</a>
      </p>
      <h3 class="govuk-heading-s">You’ll need:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>the company number</li>
        <li>the company authentication code for online filing</li>
        <li>the penalty reference</li>
        <li>the reason for the appeal</li>
        <li>documents that support the reason for the appeal (optional)</li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a class="govuk-link" href="https://www.gov.uk/file-an-annual-return-with-companies-house">
                File your confirmation statement (annual return) with Companies House
              </a>
            </li>
            <li>
              <a class="govuk-link" href="https://www.gov.uk/running-a-limited-company">
                Running a limited company
              </a>
            </li>
            <li>
              <a class="govuk-link" href="https://www.gov.uk/browse/business/limited-company" class="govuk-!-w-bold">
                More
                <span class="visuallyhidden">Running a limited company</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}
