{% extends 'govuk/template.njk' %}

{% from 'govuk/components/cookie-banner/macro.njk' import govukCookieBanner %}
{% from 'govuk/components/footer/macro.njk'       import govukFooter %}
{% from 'govuk/components/header/macro.njk'       import govukHeader %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

{% set serviceName = 'Appeal a late filing penalty' %}

{% block head %}

  <!--[if !IE 8]><!-->
  <link href="//{{ cdn.host }}/stylesheets/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.css" rel="stylesheet"/>
  <link href="//{{ cdn.host }}/stylesheets/services/late-filing-penalties/appeals/application.css" rel="stylesheet"/>
  <link href="//{{ cdn.host }}/stylesheets/session-timeout.css" rel="stylesheet"/>
  <!--<![endif]-->

  

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
          crossorigin="anonymous"></script>

  <script type="application/javascript">
    window.SERVICE_NAME = '{{ serviceName }}'
    window.PIWIK_URL = '{{ piwik.url }}'
    window.PIWIK_SITE_ID = '{{ piwik.site }}'
  </script>

  <link rel="SHORTCUT ICON" href="//{{ cdn.host }}/images/govuk-frontend/v3.6.0/images/favicon.ico"


  {% block download %}{% endblock %}
{% endblock %}

{% block bodyStart %}
  {% include "cookie-consent-banner.njk" %}
{% endblock %}

{% block header %}
  {{
    govukHeader({
      homepageUrl: paths.ROOT_URI,
      serviceName: serviceName,
      serviceUrl: paths.ROOT_URI,
      containerClasses: 'govuk-width-container'
    })
  }}
{% endblock %}

{% set mainClasses = mainClasses | default('govuk-main-wrapper--auto-spacing') %}

{% block beforeContent %}
  {{
    govukPhaseBanner({
      tag: {
        text: 'Beta'
      },
      html: 'This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/alfp-feedback/" target="_blank">feedback</a> will help us to improve it.'
    })
  }}

  {% block signoutBar %}
  {% if userEmail %}
  {% set email = userEmail | default("Not signed in") %}
  <ul class="js-signout" id="navigation">
    <li class="content-email" id="signed-in-user">{{email}}</li>
    <li class="content">
     <a class="govuk-link" href="{{navigation.signOut.href}}" data-event-id="sign-out-button-selected" id="user-signout" >Sign Out</a>
    </li>
  </ul>
  <script src="//{{ cdn.host }}/javascripts/app/session-timeout.js"></script>
  {% endif %}
  {% endblock %}

  {% block backLink %}{% endblock %}
{% endblock %}

{% block footer %}
  {{
    govukFooter({
      meta: {
        items: [
          {
            href: 'http://resources.companieshouse.gov.uk/legal/termsAndConditions.shtml',
            text: 'Policies'
          },
          {
            href: 'https://www.gov.uk/help/cookies',
            text: 'Cookies'
          },
          {
            href: 'https://www.gov.uk/contact',
            text: 'Contact us'
          },
          {
            href: 'https://developer.companieshouse.gov.uk/',
            text: 'Developers'
          },
          {
            href: paths.ACCESSIBILITY_STATEMENT_URI,
            text: 'Accessibility statement'
          }
        ]
      }
    })
  }}
{% endblock %}

{% block bodyEnd %}
<div id="templateName" data-id='{{templateName}}' hidden></div>

  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="//{{ cdn.host }}/javascripts/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
  <script src="//{{ cdn.host }}/javascripts/app/piwik-enable.js"></script>
  <script src="//{{ cdn.host }}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"></script>
  <script src="//{{ cdn.host }}/javascripts/app/cookie-consent/matomo-only-cookie-consent.js"></script>
  <noscript>
    <p>
      <img src="{{piwik.url}}/piwik.php?idsite={{piwik.site}}" style="border:0;" alt="" />
    </p>
  </noscript>
{% endblock %}
