{% extends 'layout.njk' %}

{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/input/macro.njk' import govukInput %}
{% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
{% from 'govuk/components/button/macro.njk' import govukButton %}

{% block pageTitle %}
  Appealing for other reasons
{% endblock %}

{% block backLink %}
  {{
    govukBackLink({
      text: 'Back',
      href: navigation.back.href
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukErrorSummary({
          titleText: 'There is a problem',
          errorList: validationResult.errors
        }) if validationResult and validationResult.errors.length > 0
      }}

      {% set detailsHTML %}
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What details should I include to support my appeal?
            </span>
          </summary>

          <div class="govuk-details__text">
            <p>You should include:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>any relevant dates - for example, the date of an incident that prevented the accounts from being filed (for example, a fire or bereavement), or the dates that a problem began and ended</li>
              <li>names of people or organisations that prevented accounts from being filed on time, and their relationship to the company</li>
            </ul>
            <p>If the person who usually files the accounts was not able to, tell us why no one else could file them.</p>
            <p>If you were given advice by Companies House, include details of when and how you contacted us.</p>
          </div>
        </details>
      {% endset -%}

      <form method="post">
        <h1 class="govuk-heading-xl" id="page-title-heading">Tell us why you’re appealing this penalty</h1>
        <p class="govuk-body-l">Anything you tell us to support your appeal will be kept confidential.</p>

        {{
          govukInput({
            label: {
              text: 'Your name'
            },
            id: 'name',
            name: 'name',
            value: name | default(''),
            errorMessage: validationResult.getErrorForField('name') if validationResult and validationResult.getErrorForField('name'),
            autocomplete: 'off'
          })
        }}

        {{
          govukInput({
            label: {
              text: 'Your relationship to the company'
            },
            id: 'relationshipToCompany',
            name: 'relationshipToCompany',
            value: relationshipToCompany | default(''),
            errorMessage: validationResult.getErrorForField('relationshipToCompany') if validationResult and validationResult.getErrorForField('relationshipToCompany'),
            autocomplete: 'off'
          })
        }}

        {{
          govukInput({
            label: {
              text: 'Short title for the reason'
            },
            id: 'title',
            name: 'title',
            value: title | default(''),
            errorMessage: validationResult.getErrorForField('title') if validationResult and validationResult.getErrorForField('title'),
            autocomplete: 'off'
          })
        }}

        {{
          govukTextarea({
            label: {
              text: 'Detailed description of the reason'
            },
            hint: {
              html: detailsHTML
            },
            id: 'description',
            name: 'description',
            value: description | default(''),
            errorMessage: validationResult.getErrorForField('description') if validationResult and validationResult.getErrorForField('description'),
            rows: 8,
            autocomplete: 'off'
          })
        }}

        {{
          govukButton({
            text: 'Continue',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}