{% extends 'layout.njk' %}

{% from 'govuk/components/button/macro.njk' import govukButton %}

{% block pageTitle %}
  Unlikely appeal examples
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="interruption-card">
        <h1 class="govuk-heading-xl">Before you continue</h1>
        <p class="govuk-body-l">We may reject your appeal if you tell us:</p>
        <ul class="govuk-list govuk-list--bullet">

          <li>there is a problem with your accountant</li>
          <li>your company is dormant</li>
          <li>you are not familiar with the filing requirements</li>
          <li>your company or its directors have financial difficulties</li>
          <li>your accounts were delayed or lost</li>
          <li>the directors live or were travelling overseas</li>
          <li>another director is responsible for preparing the accounts</li>
        </ul>
        <form method="post">
          {{
            govukButton({
              text: 'Continue with appeal',
              classes: 'govuk-link govuk-!-margin-top-5 govuk-link--interrupt',
              attributes: {
                id: 'submit'
              }
            })
          }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
