{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block pageTitle %}
  Appealing for other reasons
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <h1 class="govuk-heading-xl">Tell us why you’re appealing this penalty</h1>
        <p class="govuk-body-l">Anything you tell us to support your appeal will be kept confidential.</p>

        {{
          govukInput({
            id: 'other-reason',
            name: 'otherReason',
            label: {
              text: 'Short title for the reason'
            }
          })
        }}

        {{
          govukTextarea({
            id: 'other-information',
            name: 'otherInformation',
            label: {
              text: 'Detailed description of the reason'
            },
            rows: 8
          })
        }}

        {{
          govukButton({
            text: 'Continue'
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
