{% extends 'layout.njk' %}

{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/input/macro.njk'         import govukInput %}
{% from 'govuk/components/button/macro.njk'        import govukButton %}
{% from 'govuk/components/details/macro.njk'       import govukDetails %}

{% block pageTitle %}
  Tell us the penalty details
{% endblock %}

{% block backLink %}
  {{
    govukBackLink({
      text: 'Back',
      href: navigation.back.href
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukErrorSummary ({
          titleText: 'There is a problem',
          errorList: validationResult.errors
        }) if validationResult and validationResult.errors.length > 0
      }}
      <h1 class="govuk-heading-xl">
        What are the penalty details?
      </h1>
      <form method="post" action="">
        {{
          govukInput({
            label: {
              text: 'Company number'
            },
            hint: {
              text: 'This is the 8-character reference issued by Companies House when the company was set up.'
            },
            errorMessage: validationResult.getErrorForField('companyNumber') if validationResult,
            classes: 'govuk-input--company-number',
            id: 'company-number',
            name: 'companyNumber',
            value: companyNumber,
            autocomplete: 'off'
          })
        }}
        {{
          govukInput({
            label: {
              text: 'Penalty reference'
            },
            hint: {
              text: 'Enter the full penalty reference. It will be in the format A0000000, PEN1A/00000000 or PEN2A/00000000.'
            },
            errorMessage: validationResult.getErrorForField('userInputPenaltyReference') if validationResult,
            classes: 'govuk-input--penalty-reference',
            id: 'penalty-reference',
            name: 'userInputPenaltyReference',
            value: userInputPenaltyReference,
            autocomplete: 'off'
          })
        }}
        <div class="govuk-form-group">
          {% set detailsHTML %}
            <p>
              Your company number and penalty reference will be on your penalty notice letter.
            </p>
            <p>
              Some penalty notices will show the company number and reference number at the bottom.
              The penalty reference will be in the format A0000000.
            </p>
            <p>
              Other penalty notices will show the company number and reference at the top.
              The penalty reference will be in the format PEN1A/00000000 or PEN2A/00000000.
            </p>
            <img src="//{{ cdn.host }}/images/late-filing-penalties/penalty-notice.png" class="call-out-image" alt=""/>
          {% endset -%}

          {{
            govukDetails({
              summaryText: 'Help with company number and penalty reference number',
              html: detailsHTML
            })
          }}
        </div>
        {{
          govukButton({
            text: 'Continue',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
