{% extends 'layout.njk' %}

{% from 'govuk/components/back-link/macro.njk'     import govukBackLink %}
{% from 'govuk/components/button/macro.njk'        import govukButton %}
{% from "govuk/components/table/macro.njk"         import govukTable %}

{% block pageTitle %}
  Review your penalty details
{% endblock %}

{% block backLink %}
  {{
    govukBackLink({
      text: 'Back',
      href: navigation.back.href
    })
  }}
{% endblock %}

{% block content %}
  <form method="post" action="">
    {% include "csrf-token.njk" %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" id="page-title-heading">Penalty details for
              <span class="govuk-!-font-weight-bold">{{ companyName }}</span>
            </h1>
            <h2 class="govuk-heading-m">Accounts period made up to {{ penalty.madeUpDate }}</h2>

            {{
              govukTable({
                caption: 'Penalty reference: ' + penalty.id,
                firstCellIsHeader: false,
                head: [{
                      text: 'Fee'
                  },
                  {
                      text: 'Date'
                  },
                  {
                      text: 'Fee Amount'
                  }],
                rows: [
                  [
                    {
                        text: 'Late Filing Penalty' if penalty.type == 'penalty' else 'Other'
                    },
                    {
                        text: penalty.transactionDate
                    },
                    {
                        text: '£' + penalty.originalAmount
                    }
                  ],
                  [
                    {
                        text: 'Total:'
                    },
                    {
                        text: ''
                    },
                    {
                        text: '£' + penalty.originalAmount
                    }
                  ]
                ]
              })
            }}

            {{
              govukButton({
                text: 'Continue',
                attributes: {
                  id: 'submit'
                }
              })
            }}
          </div>
        </div>
    </div>
  </form>
{% endblock %}
