{% extends 'layout.njk' %}

{% from 'govuk/components/back-link/macro.njk'     import govukBackLink %}
{% from 'govuk/components/button/macro.njk'        import govukButton %}
{% from 'govuk/components/radios/macro.njk'        import govukRadios %}

{% block pageTitle %}
  Select your penalty details
{% endblock %}

{% block backLink %}
  {{ 
    govukBackLink({
      text: 'Back',
      href: navigation.back.href
    }) 
  }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" id="penaltyForm">

            {% set penalties = [] %}
            {% for penalty in penaltyList %}
              {% set penalties = (penalties.push({
                  value: penalty.id,
                  text: 'Accounts made up to ' + penalty.madeUpDate,
                  label: {
                      classes: 'govuk-label--s'
                  },
                  hint: {
                      html: 'These accounts were filed ' + penalty.transactionDate + '.<br>The late filing penalty is £' + penalty.originalAmount + '.'
                  },
                  checked: penalty.id === penaltyReferenceSelected
                }), penalties)
              %}
            {% endfor %}

            {{ 
              govukRadios({
                idPrefix: 'select-the-penalty',
                name: 'selectPenalty',
                fieldset: {
                  legend: {
                      classes: 'govuk-fieldset__legend--xl',
                      html: "<h1 id='page-title-heading' class='govuk-fieldset__heading'>Select the penalty you want to appeal</h1>"
                  }
                },
                errorMessage: validationResult.getErrorForField('selectPenalty') if validationResult,
                items: penalties
              })
            }}

            {{ 
              govukButton({
                text: 'Continue',
                attributes: {
                  id: 'submit'
                }
              }) 
            }}
          </form>
        </div>
      </div>
  </div>
{% endblock %}