{% extends 'layout.njk' %}

{% from 'govuk/components/back-link/macro.njk'     import govukBackLink %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from 'govuk/components/radios/macro.njk' import govukRadios %}

{% block pageTitle %}
  Select your penalty details
{% endblock %}

{% block backLink %}
  {{ 
    govukBackLink({
      text: "Back",
      href: navigation.back.href
    }) 
  }}
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="?{{ navigation.actions.continue }}" method="post" id="penaltyForm">

            {{ 
              govukRadios({
                idPrefix: 'select-penalty',
                name: 'selectPenalty',
                fieldset: {
                  legend: {
                      text: 'Select the penalty you want to appeal',
                      isPageHeading: true,
                      classes: 'govuk-fieldset__legend--xl'
                  }
                },
                errorMessage: validationResult.getErrorForField('selectPenalty') if validationResult,
                items: penalties
              })
            }}

            {{ 
              govukButton({
                text: 'Continue',
                attributes: {
                  id: 'submit'
                }
              }) 
            }}
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}