$govuk-global-styles: true;

@import 'govuk-frontend/govuk/all';

// Patterns that aren't in govuk-frontend
@import "patterns/related-items";

// Add extra styles here
.govuk-input--company-number {
    max-width: 13ex;
  }

.govuk-input--penalty-reference {
    max-width: 20ex;
}